
{% extends "registration/base.html" %}

{% block title %}   لیست مقالات    {% endblock title %}


{% block main %}
                   <!-- page start-->
                   <div class="row">
                    
                    <div class="col-lg-12">

                        {% if object_list %}


                        <section class="panel">
                            <header class="panel-heading">
                                جدول لیست مقالات {{ user.get_full_name }}
                         
                            </header>
                            <table class="table table-striped border-top" id="sample_1">
                                <thead>
                                    <tr>
                                        <th style="width: 8px;">
                                            <input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" />
                                        </th>
                                        <th>نام مقاله</th>
                                        <th class="hidden-phone">نویسنده</th>
                                        <th class="hidden-phone">عکس مقاله</th>
                                        <th class="hidden-phone">آدرس مقاله</th>
                                        <th class="hidden-phone">وضعیت انتشار مقاله</th>
                                        <th class="hidden-phone">زمان انتشار</th>
                                        <th class="hidden-phone">دسته بندی</th>
                                        <th class="hidden-phone">متن </th>
                                        

                                    </tr>
                                </thead>
                                <tbody>

                                    {% for article in object_list %}
                                    <tr class="odd gradeX">
                                        <td>
                                            <input type="checkbox" class="checkboxes" value="1" />
                                        </td>
                        {% comment %} نویسندگان فقط میتوانند مقاله های پیش نویس را ویرایش کنند {% endcomment %}
                                    {% if article.status_Article == 'd' or user.is_superuser %} 
                                       <td>
                                        <a href="{% url "ACCOUNT:update_article" article.pk %}" > {{ article.title_Article|truncatewords:10 }} </a> 
                                       </td>
                                       {% else %}
                                       <td>{{ article.title_Article|truncatewords:10 }}</td>
                                    {% endif %}
                        {% comment %}  {% endcomment %}
                                       <td class="hidden-phone"><a href="mailto:jhone-doe@gmail.com">{{ article.author.get_full_name }}</a></td>
                                        <td class="hidden-phone"> <img width=100 height=75 style='border-radius: 5px;' src="{{ article.image_Article.url }}"> </td>
                                        <td class="hidden-phone">{{ article.slug_Article }}</td>
                                        

                                        <td class="hidden-phone">




                                            {% if article.status_Article == "p" %}
                                            <span class="label label-success">منتشر شد</span> </br>
                                            <a class="label label-primary" target="_blank" href="{% url "Articles_app_name:article_name" article.slug_Article %}" > نمایش در سایت </a>
                                            {% comment %} {% else %}
                                            <a class="btn btn-secondary" target="_blank" href="{% url "Articles_app_name:article_preview" article.pk %}" >پیش  نمایش در سایت </a> {% endcomment %}
                                            {% endif %}


                                            {% if article.status_Article == "r" %}
                                            <span class="label label-danger">رد قوانین</span>
                                            {% comment %} <a class="label label-primary" target="_blank" href="{% url "Articles_app_name:article_name" article.slug_Article %}" > نمایش در سایت </a> {% endcomment %}
                                            {% endif %}


                                            {% if article.status_Article == "d" %}
                                            <span class="label label-warning">پیش نویس</span>
                                            {% comment %} <a class="label label-primary" target="_blank" href="{% url "Articles_app_name:article_name" article.slug_Article %}" > نمایش در سایت </a>  {% endcomment %}
                                            <a class="btn btn-secondary" target="_blank" href="{% url "Articles_app_name:article_preview" article.pk %}" >پیش  نمایش در سایت </a>

                                            {% endif %}




                                            {% comment %} حذف یک مقاله فقط و فقط توسط سوپریوزرها پاک میشود نه توسط نویسندگان {% endcomment %}
                                            {% if user.is_superuser %}
                                            
                                            {% comment %} <span class="label label-danger">رد قوانین</span> {% endcomment %}
                                            <a class="label"  href="{% url "ACCOUNT:delete_article" article.pk %}" style="color:red;">حذف</a>

                                            {% endif %}


                                        </td>

                                        <td class="hidden-phone">{{ article.jpublish }}</td>
                                        <td class="center hidden-phone">{{ article.category_to_str }}</td>
                                        <td class="hidden-phone">{{ article.Body_or_text_Article|striptags }}</td>
                                    </tr>
                                        {% endfor %}

                                </tbody>
                            </table>
                        </section>

                        {% else %}
                        <p class="btn btn-dark">محتوایی برای نمایش وجود ندارد عزیزم</p>

                        {% endif %}

                    </div>

                </div>
                <!-- page end-->

{% endblock main %}
