{% extends "registration/base.html" %}


{% block title %} 

  عملیات با موفقیت انجام شد

{% endblock title %}


{% block main %}
<div class="alert alert-success" role="alert" style="text-align: center;">
    تغییر رمز عبور    توسط <span style="color:red;">{{user.get_full_name}} </span> با موفقیت انجام شد.
  </div>

<form method="post" style="text-align:right;">
    <p>گذرواژه با موفقیت تغییر یافت</p>
</form>


{% endblock main %}









{% comment %} {% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}
  {% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% translate 'Documentation' %}</a> / {% endif %}{% translate 'Change password' %} /
  <form id="logout-form" method="post" action="{% url 'admin:logout' %}">
    {% csrf_token %}
    <button type="submit">{% translate 'Log out' %}</button>
  </form>
  {% include "admin/color_theme_toggle.html" %}
{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password change' %}
</div>
{% endblock %}

{% block content %}
<p>{% translate 'Your password was changed.' %}</p>
{% endblock %} {% endcomment %}
